---
layout: page
title: Writing
background: '/assets/images/2019-04-27 08-38-16-0.JPG'
---

<link rel="stylesheet" href="/assets/css/pagination.css">

<!-- Full Post List -->
{% for post in paginator.posts %}

<article class="post-preview">
  <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="post-title">{{ post.title }}</h2>
    {% if post.journal %}
    <h3 class="post-subtitle">in <i>{{ post.journal }}</i></h3>
    {% else %}
    {% endif %}
    {% if post.abstract %}
    <h5 class="post-subtitle">{{ post.abstract | strip_html | truncatewords: 25 }}</h5>
    {% else %}
    <h5 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 25 }}</h5>
    {% endif %}
  </a>
  <p class="post-meta">
    {% if post.author %}Written by {{ post.author }} &middot; {% else %}{% endif %}
      {{ post.date | date: '%Y %B' }}
  </p>
</article>

<hr>

{% endfor %}

{% if paginator.total_pages > 1 %}
	<div class="pagination row justify-content-center justify-content-lg-between">
	  {% if paginator.previous_page %}
	    <a class="btn btn-primary" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ paginator.previous_page }}">&laquo; Previous</a>
	  {% else %}
	    <a class="btn btn-outline-info disabled" href="#">&laquo; Previous</a>
	  {% endif %}

	  <ul class="pagination justify-content-center">
		  {% for page in (1..paginator.total_pages) %}
		  	<li class="page-item">
			    {% if page == paginator.page %}
			      	<a class="btn btn-outline-info active disabled" href="#">{{ page }}</a>
			    {% elsif page == 1 %}
			      	<a class="btn btn-primary" href="/writing">{{ page }}</a>
			    {% else %}
			      	<a class="btn btn-primary" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
			    {% endif %}
		    </li>
		  {% endfor %}
	  </ul>

	  {% if paginator.next_page %}
	    <a class="btn btn-primary" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ paginator.next_page }}">Next &raquo;</a>
	  {% else %}
	    <a class="btn btn-outline-info disabled" href="#">Next &raquo;</a>
	  {% endif %}
	</div>
{% endif %}