.active {
  color: green;
}

h1, h2, h3, h4, h5, h6 { 
  font-weight: 800 !important;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.btn-outline-info {
  color: #117a8b !important;
  border-color: #117a8b !important;
}
.btn-outline-info.disabled{
  color: #117a8b !important;
  border-color: #117a8b !important;
}

.btn-success {
  color: #ffffff;
  background-color: #1e7e34;
  border-color: #1c7430;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-color: #19692c;
  border-color: #155d27;
  color: #ffffff;
}

.btn-success:disabled,
.btn-success.disabled,
fieldset:disabled .btn-success {
  background-color: #1e7e34;
  border-color: #1c7430;
  color: #ffffff;
  opacity: 0.65;
}
