.active {
  color: green;
}

h1, h2, h3, h4, h5, h6 { 
  font-weight: 800 !important;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.btn-outline-info {
  color: #117a8b !important;
  border-color: #117a8b !important;
}
.btn-outline-info.disabled{
  color: #117a8b !important;
  border-color: #117a8b !important;
  opacity: 1 !important;
}

.btn.disabled,
.btn:disabled {
  opacity: 1 !important;
}

.btn-success {
  color: #ffffff !important;
  background-color: #1e7e34 !important;
  border-color: #1c7430 !important;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-color: #19692c !important;
  border-color: #155d27 !important;
  color: #ffffff !important;
}

.btn-success:disabled,
.btn-success.disabled,
fieldset:disabled .btn-success {
  background-color: #1e7e34 !important;
  border-color: #1c7430 !important;
  color: #ffffff !important;
  opacity: 1 !important;
}
