.active {
  color: green;
}
.btn-outline-info {
  color: #117a8b !important;
  border-color: #117a8b !important;
}
.btn-outline-info.disabled{
  color: #117a8b !important;
  border-color: #117a8b !important;
}