---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2 class="subheading">{{ page.subtitle }}</h2>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

      	<h2>{{ page.date | date: "%Y %B %-d" }}   <i class="fa fa-cube" aria-hidden="true" style="margin: 0px 15px;"></i>  
 		   <i>{{ page.event }}</i></h2>

       {% if page.link contains '://' %}
          {% assign fullurl = page.link %}
        {% else %}
          {% assign rooturl = "/slides/" | prepend: site.baseurl | replace: '//', '/' %}
          {% assign fullurl = page.link | prepend: rooturl %}
        {% endif %}
        {% if page.pdf contains '://' %}
          {% assign fullpdf = page.pdf %}
        {% else %}
          {% assign rootpdf = "/slides/" | prepend: site.baseurl | replace: '//', '/' %}
          {% assign fullpdf = page.pdf | prepend: rootpdf %}
        {% endif %}

       {% if page.abstract %}

         <p><h3>Abstract</h3></p>
         <p><i>{{ page.abstract }}</i></p>

         {% if page.link %}
            <a href="{{ fullurl }}"><button name="button" class="btn btn-primary btn-lg" onclick="{{ fullurl }}">Slides</button></a>
          {% endif %}

          {% if page.pdf %}
            <a href="{{ fullpdf }}""><button name="button" class="btn btn-danger btn-lg" onclick="{{ fullpdf }}">
              <i class="far fa-file-pdf"></i>
            PDF</button></a>
          {% endif %}

          <p>
            {{ content }}
          </p>

       {% else %}

          {{ content }}

          {% if page.link %}
            <a href="{{ fullurl }}"><button name="button" class="btn btn-primary btn-lg" onclick="{{ fullurl }}">Slides</button></a>
          {% endif %}

          {% if page.pdf %}
          	<a href="{{ fullpdf }}""><button name="button" class="btn btn-danger btn-lg" onclick="{{ fullpdf }}">
              <i class="far fa-file-pdf"></i>
            PDF</button></a>
          {% endif %}

        {% endif %}




      </div>
    </div>
  </div>